@media (max-width:840px) {
    header{
        width: 100%;
    }
    
    main{
        width: 100%;
        height: 60vh;
    }
    .department-section{
        width: 100%;
    }

}

@media (max-width:687px) {
    .department-section{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width:665px) {
    header{
        text-align: center;
    }
    
}
@media (max-width:470px) {
    .heading{
        font-size: 2rem;
    }
    .box{
        text-align: center;
        font-size: 1.5rem;
        height: 200px;
    }
    nav{
        display: none;
    }
}