*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;

}

a{
    color: white;
    text-decoration: none;
}
/* style for header  */

header{
    height: 200px;
    background-color: #061E29;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
      color: #F5F2F2;
    font-family: Jacques Francois Shadow ;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background: linear-gradient(#F5F2F2 , #1D546C);
     background-clip: text;
  color: transparent;
}

/* style for main content */
main{
    height: 80vh;
    width: 70%;
    display: flex;
    gap: 10px;
    margin-block: 10px;
    
  
}

/* style for left side bar  */
.left-side-bar{
    width: 30%;
    height: 100%;
    background-color: #0F2854;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left-side-bar p{
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
      background: linear-gradient(gold , #F5F2F2);
     background-clip: text;
  color: transparent;

}
.left-side-bar span{
    padding-left: 10px;
}
/* style for right side bar */
.right-side{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* style for nave bar */
nav{
    height: 60px;
    width: 100%;
    background-color: #79C9C5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for hero-section */
.hero-section{
    height: 100%;
    background-color: #F5F5F5;
    background-image: url(images/heroSection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
    background-position: left center;
    animation: panImage 10s ease-in-out infinite alternate;
}
@keyframes panImage {
    0%{
        background-position: left center;
    }
    100%{
        background-position: right center;
    }
    
}
/* style for department-section */
.hovr:hover{
    border: 1px solid white;
    transition: 1s ease-in ;
    background-color: #00B7B5;
}
.hovr:active{
    transition: 0.5s;
    background-color: blue;
}
.department-section{
    height: auto;
    background-color: #005461;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 16px;
   padding-inline: 10px;
   padding-block: 15px;
}
.department-section span{
    color: #ED985F;
}
/* style for department heading */
.heading{
    text-align: center;
    padding-top: 9px;
    height: 100px;
    background-color: #018790;
    grid-column: 1 / -1;
     font-size: 3rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
      background: linear-gradient(gold , #F5F2F2);
     background-clip: text;
  color: transparent;


}

/* style for boxes inside department section */
.box{
    height: 300px;
    border: 2px solid wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

} 


