@media (max-width:960px) {
   
    .projects-section{
         grid-template-columns: repeat(2, 1fr);
         height: auto;
         gap: calc(1rem , 4vw , 3rem);

        }    
    }

    @media (max-width:620px) {
        .projects-section{
        grid-template-columns: 1fr;
        }
    }
    @media (max-width:410px) {
        
        header{
            width: 100%;
        }
        nav{
            width: 100%;
        }
        .projects-section{
            width: 100%;
            padding-inline: 1rem;
        }
       
    }





    /* ................................... */
    @media (max-width:1164px) {
    .container{
        width: 99%;
    }
    header{
        width: 99%;
    }
    nav{
        width: 99%;

    }
    .projects-section{

    width: 99%;
}
    }
@media (max-width:720px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 96vh;
    }
     .box1{
        border-bottom:  dotted wheat;
    }
    .box2{
        border-top: dotted wheat;
    }
    .box3{
    height: 100px;
    width: 90%;
}
    
}
@media (max-width:330px) {
    .box1{
        width: 250px;
        height: 400px;

    }
    .box1 p{
        font-size: 1rem;
    }
    .box2{
        width: 250px;
    }
    
}
@media (max-width:400px) {
    .box3 p{
        font-size: 1.7rem;
    }
    
}